@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.shadow-solid-primary {
  box-shadow: 3px 3px #000000;
}

/*
body {
  background-image: radial-gradient(#ef4444 3%, transparent 0%),
    radial-gradient(#ef4444 3%, transparent 0%);
  background-color: #ffffff;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

/*
ORIGINAL:

body {
  background-image: radial-gradient(#212121 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
  background-color: #e53935;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

*/
